.trip-thumbnail {
  width: 100%;
}

/* Non-mobile */
@media only screen and (min-width: 640px) {
  .trip-thumbnail {
    height: 200px;
  }
}

.trip-link {
  text-decoration: none;
  color: black;
}

a.trip-link :hover {
  background-color: #E8FDFF;
  color: #747F80;
}

.post {
}
