/* main styles that go on every page. These include the nav bar,
   main, and footer */

main {
  /* for nav bar */
  margin-top: 60px;
}

/* Nav bar */
nav {
  position: fixed;
  top: 0;
  /*padding: 0px 60px;*/
  background-color: whitesmoke;
  width: 100vw;
  /*height: 60px;*/
  text-align: center;
  z-index: 1;
}

nav ul {
  list-style: none;
  /*display: inline-block;*/
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  display: inline-block;
}

nav li a {
  text-decoration: none;
  display: block;
  color: black;
  padding: 21px 15px;
}

nav li a:hover {
  background-color: grey;
  color: white;
}

nav li a.navIcon {
  display: none;
}

.logo {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  position: absolute;
  left: 5%;
  margin-top: 4px;
}

/* Responsive Nav Bar */

/* When screen is less than 600px wide, hide all
   links except navIcon */
@media screen and (max-width: 600px) {
  nav ul {
    display: flex;
    flex-direction: column;
  }

  nav li a {
    display: none;
  }

  nav li a.icon {
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JS
   when user clicks on the icon. This displays links vertically */
@media screen and (max-width: 600px) {
  nav.responsive {
    position: relative;
  }

  nav.responsive li a {
    display: block;
  }
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 30px 30px 5px 30px;
  background-color: #BACACC;
}

footer .row {
  padding: 20px 0;
}

/* Mobile default */
.contact-item {
  padding: 30px 0;
}

/* Non-mobile */
@media only screen and (min-width: 640px) {
  .contact-item {
    padding: 0;
  }
}

div.contact-desc {
  display: inline-block;
  text-align: left;
  margin-left: 5px;
}

div.contact-desc h4 {
  margin-top: 0px;
  margin-bottom: 8px;
}

#in-icon {
  height: 64px;
  width: 64px;
  margin-left: 8px;
}
